@import "tailwindcss";

@import "./theme.css";

html, body {
  height: 100%;
}

body {
  background-image: url('/public/assets/background.png');
  background-repeat: no-repeat;
  background-size: 100vw 600px;
}