@theme {

  /* Fonts */
  --font-heading: 'Space Grotesk', sans-serif;
  --font-inter: 'Inter', sans-serif;

  /* Colours */
  --color-steel: oklch(92.177% 0.02039 279.92);
  --color-azure: oklch(95.457% 0.02139 288.86);
  --color-slate: oklch(29.837% 0.06125 270.8);
  --color-lavender: oklch(93.056% 0.019 279.52);

  /* Breakpoints */
  --breakpoint-xs: 30rem;
}

* {
  font-family: var(--font-inter);
}

h1 {
  font-family: var(--font-heading);
}

